.Card-Container {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .image {

        width: 200px !important;
        height: 160px !important;

    }

    .name {
        text-align: center;
        margin-top: 10px;

    }

    .price {
        text-align: center;

        margin-top: -5px;
        color: rgb(47, 212, 190);
    }

    .btn {
        background-color: rgb(137, 246, 137);
        border-radius: 2rem;
        margin-left: 40px;
        width: 20vh;
        height: 4vh;

        &:hover {
            background-color: rgb(241, 132, 132);
            color: white;

        }
    }
}