.Home1 {
    width: 100%;
    height: 100%;
    background-color: rgb(229, 248, 248);
    box-shadow: 3px 3px 5px 3px rgb(250, 246, 246);

    h1 {
        color: rgb(229, 248, 248);
    }

    .Home-Login {
        background-image: url(https://tramdungso07.files.wordpress.com/2017/04/overcast-445016_960_720.jpg);
        width: 450px;
        height: 350px;
        border-radius: 10px;
        // margin: auto;
        margin: 170px 0px 0px 500px;
        box-shadow: 3px 3px 5px 3px rgb(184, 183, 183);

        .Login {
            text-align: center;
            padding-top: 10px;
            color: rgb(105, 18, 235);
        }

        .icon {
            display: flex;
            margin-left: 97px;
            font-size: 20px;

            .social-icon {

                ul {

                    li {
                        list-style: none;

                        a {

                            i {

                                &:hover {
                                    font-size: 22px;
                                    color: rgb(237, 97, 16);
                                }
                            }


                        }

                    }
                }
            }
        }

        .input {
            .input-names {
                padding: 5px;
                margin-left: 120px;

                .input-name {
                    border-radius: 20px;
                    width: 200px;
                    height: 25px;
                }
                .icon-name{
                    margin-left: -22px;
                }

            }


        }

        // .Show-Login {
        // display: flex;
        .buton {
            margin-left: 170px;
            padding: 5px;

            .btn {
                background-color: rgb(148, 239, 148);
                border-radius: 12px;
                width: 100px;
                height: 25px;
            }
        }

        .show-Password {
            margin-left: 170px;

            .icon-Show-Password {
                i {
                    margin-top: -320px;
                }
            }
        }

        // }

        .register {
            text-align: center;

            .btn-click {
                border-radius: 20px;
                width: 80px;
                height: 25px;
                background-color: #ffffff;
            }
        }
    }
}